<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="https://res.cloudinary.com/monggovest/image/upload/v1543927653/icon/home-solid.svg" />
            <p id="profile-name" class="profile-name-card"></p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-signin">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
                </div>

                <div class="form-signin">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "current-password", required: true %>
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>

                <div class="actions btn-signin">
                  <%= f.submit "Log in" %>
                </div>
                <% end %>

        </div><!-- /card-container -->
<<<<<<< HEAD
    </div><!-- /container -->.
=======
    </div><!-- /container -->
>>>>>>> a3acb8db1a9445983156048070a76a2f593d92fc
